*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(151, 151, 151);
}
/* --------------------------------------- */
.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(58, 58, 58);
    width: 600px;
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: aqua;
    width: 512px;
    height: 48px;
    margin: 16px 0;
}
.canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 512px;
    height: 512px;
    position: relative;
}
.buttons{
    background-color: coral;
    width: 512px;
    height: 100px;
    margin: 16px 0;
}
/* --------------------------------------- */
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pixel{
    background-color: rgb(0, 0, 0);
    width: 16px;
    height: 16px;
    border: 1px solid rgb(23, 23, 23);
}
.painted{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(223, 223, 223);
}
.grid{
    border: solid 1px rgb(99, 99, 99);
    width: 64px;
    height: 64px;
    position: absolute;
}
/* .marker{
    position: absolute;
    background-color: red;
    width: 2px;
    height: 2px;
} */