*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(174, 174, 174);
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}
h3{
    font-size: 12px;
    font-weight: 400;
    
}
.footer{
    width: 100%;
    margin-top: auto;
    padding: 8px 0px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --------------------------------------- */
.cord {
    background-image: url(images/cord.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 650px;
    height: 650px;
    position:absolute;
    rotate: -20deg;
    translate: -520px 400px;
    opacity: 90%;
    filter: brightness(50%);
}
.frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(27, 27, 27);
    border-radius: 20px;
    border: solid 5px rgb(64, 64, 64); 
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 0.265), 0px 10px 10px 5px rgba(0, 0, 0, 0.541);
    width: 600px;

    background-image: url('images/noise.png');
    background-size: 300px;
    background-repeat: repeat; 

    position: relative;
    margin-top: 6px;
}
.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 512px;
    height: 48px;
    margin: 8px 0;
    overflow: hidden;
}
.light{
    width: 8px;
    height: 8px;
    background-color: rgb(141, 240, 141);
    box-shadow: inset 0px 0px 3px rgb(19, 78, 34), 0px 0px 2px greenyellow, 0px 1px 2px rgb(97, 97, 97);
    position: absolute;
    top: 16px;
    left: 16px;
    /* border: 2px solid rgb(17, 17, 17); */
    border-radius: 6px;
}
.grate{
    width: 7px;
    height: 90%;
    background-color: rgb(15, 15, 15);
    box-shadow: inset 0px -0.5px 1px rgb(157, 157, 157);
    margin: 0px 4px;
    border-radius: 2px;
    rotate: 10deg;
}
.header>img{
    margin-right:80px;
}
.monitor{
    box-sizing: initial;
    width: 512px;
    height: 512px;
    border-radius: 20px;
    overflow: hidden;
    border: solid 8px rgb(16, 16, 16);
    box-shadow: 0px 0px 4px 2px rgb(0, 0, 0);
}
.screen {
    width: 511px;
    height: 511px;
    background-image: url('images/monitor.png');
    opacity: 70%;
    position: absolute;
    box-shadow: inset 0px 0px 20px 20px rgb(0, 0, 0);
    /* margin-left: -15px;
    margin-top: -15px; */
}

.canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 512px;
    height: 512px;
    position: relative;
    cursor: cell;
}
.flicker{
    background-color: rgba(190, 190, 190, 0.03);
    width: 100%;
    height: 100%;
    z-index: 11;
    position: absolute;
    animation: flicker 0.35s infinite;
}
.scanlines{
    width: 100%;
    height: 120%;
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%);
    background-size: 100% 3px, 20px 100%;
    animation: scanlines 2s linear infinite;
    z-index: 12;
}
.scanline{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 13;
    background-color: rgba(15, 15, 15, 0.02);
    height: 25px;
    animation: scanline 12s linear infinite;
}
.buttons{
    background-color: rgb(27, 27, 27);
    width: 512px;
    height: 80px;
    margin: 16px 0;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 2px 2px rgb(76, 76, 76), inset 0px 2px 2px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.elements{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.elements>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(232, 234, 216);
    
    height: 100%;
}
.toggleContainer{
    width: 80px;
    margin: 0;
}
.sliderContainer{
    margin: 0px 40px;
}
.size{
    background-color: rgb(220, 221, 207);
}
.size.small{
    width: 4px;
    height: 4px;
}
.size.medium{
    width: 6px;
    height: 6px;
}
.size.large{
    width: 8px;
    height: 8px;
}
.size.xlarge{
    width: 10px;
    height: 10px;
}
.buttonTitle{
    margin-bottom: auto;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}
.buttonSubTitle{
    margin-top: auto;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:baseline;
    padding-left:2px;
}
.buttonSubTitle.dots{
    justify-content: space-between;
    margin-bottom: 16px;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.titles{
    color: white;
}

button.toggle.on {
    cursor: pointer;
    width: 36px;
    height: 48px;
    rotate: 180deg;
    background: linear-gradient(rgb(22, 22, 22)10%,rgb(56, 56, 56) 20%,rgb(39, 39, 39) 21%,black 50%, rgb(32, 32, 32) 51%);
    box-shadow: inset 0px 1px 2px rgb(0, 0, 0), inset 0px -2px 2px rgb(0, 0, 0), 0px -2px 1px 1px rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    border: none;
}
button.toggle.off{
    cursor: pointer;
    width: 36px;
    height: 48px;
    background: linear-gradient(rgb(32, 32, 32),rgb(85, 85, 85) 20%,rgb(42, 42, 42) 21%,black 60%, rgb(32, 32, 32) 61%);
    box-shadow: inset 0px -1px 2px rgb(0, 0, 0), inset 0px 2px 2px rgb(0, 0, 0), 0px 2px 1px 1px rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    border: none;
}
.clearButton{
    width: 100px;
    height: 32px;
    cursor: pointer;
    border: none;
    background-color: rgb(86, 59, 59);
    border-radius: 4px;
    color: rgb(193, 194, 182);
    box-shadow: inset 0px -2px 2px rgb(15, 15, 15), 0px 1px 1px rgb(60, 60, 60), 0px -2px 3px rgb(0, 0, 0);
}
.clearButton:active{
    box-shadow: inset 0px -2px 2px rgb(15, 15, 15), 0px 1px 1px rgb(60, 60, 60), 0px -2px 3px rgb(0, 0, 0), inset 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}
/* --------------------------------------- */
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gridRow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pixel{
    background-color: rgb(0, 0, 0);
    width: 8px;
    height: 8px;
}
.paintedWhite{
    background-color: white;
    box-shadow: 0px 0px 3px white,1px 1px 1px blue,1px 1px 1px red;
    z-index: 10;
}

.paintedBlack{
    background-color: rgb(0, 0, 0);
}
.chromatic.blue{
    background-color: blue;
}
.chromatic.red{
    background-color: red;
}
/* --------------------------------------- */
.grid{
    position: absolute;
    z-index: 20;
}
/* div.grid{
    transition-property: all;
    transition-duration: 1s;
} */
.highlight{
    border: solid 0.5px rgb(62, 62, 62)
}
.size8{
    width: 64px;
    height: 64px;
}
.size16{
    width: 32px;
    height: 32px;
}
.size32{
    width: 16px;
    height: 16px;
}
.size64{
    width: 8px;
    height: 8px;
}

@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.90626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.83891;
    }
    30% {
    opacity: 0.65583;
    }
    35% {
    opacity: 0.67807;
    }
    40% {
    opacity: 0.26559;
    }
    45% {
    opacity: 0.84693;
    }
    50% {
    opacity: 0.96019;
    }
    55% {
    opacity: 0.08594;
    }
    60% {
    opacity: 0.20313;
    }
    65% {
    opacity: 0.71988;
    }
    70% {
    opacity: 0.53455;
    }
    75% {
    opacity: 0.37288;
    }
    80% {
    opacity: 0.71428;
    }
    85% {
    opacity: 0.70419;
    }
    90% {
    opacity: 0.7003;
    }
    95% {
    opacity: 0.36108;
    }
    100% {
    opacity: 0.24387;
    }
  }

  @keyframes scanlines {
    0% {
        translate: 0px 0px;
    }
    100% {
        translate: 0px 18px;
    }
  }
  @keyframes scanline {
    0% {
        translate: 0px -300px;
    }
    100% {
        translate: 0px 3300px;
    }
  }
  .slider{
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 4px;
    background-color: black;
    box-shadow: inset 0 -1px 1px rgb(65, 65, 65);
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px;
    height: 30px; 
    /* background: #454545;  */
    background: linear-gradient(#454545,#707070,#454545);
    border-radius: 4px;
    cursor: pointer; 
    box-shadow: inset 0px -1px 1px 1px rgb(0, 0, 0), inset 0px 1px 1px rgb(133, 133, 133);
  }

  .slider::-moz-range-thumb {
  }
  /* --------------------------------------- */
  .stylus{
    width: 30px;
    height: 520px;
    position: absolute;
    translate: 500px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    rotate: -20deg;
  }
  .stylus>.nib{
    width: 20%;
    height:10px;
    background: linear-gradient(90deg,rgb(78, 78, 78),rgb(10, 10, 10));
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .stylus>.tip-container>.tip{
    width: 100%;
    height:40px;
    box-shadow: 0px 0px 10px red;
    background: linear-gradient(90deg,rgb(25, 25, 25), rgb(47, 47, 47));
    clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
  }
  .stylus>.taper-container>.taper{
    width: 100%;
    background: linear-gradient(90deg,rgb(25, 25, 25), rgb(60, 60, 60), rgb(35, 35, 35), rgb(60, 60, 60), rgb(25, 25, 25));
    height: 15px;
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
    box-shadow: 0px 0px 60px rgb(255, 50, 50);
  }
  .stylus>.body{
    width: 100%;
    height:450px;
    background: linear-gradient(90deg,rgb(25, 25, 25), rgb(60, 60, 60), rgb(35, 35, 35), rgb(60, 60, 60), rgb(25, 25, 25));
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.8);
    z-index: 20;
  }
  .taper-container{
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.8));
    width: 100%;
    height: 15px;
    z-index: 21;
  }
  .tip-container{
    height: 40px;
    width: 90%;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.537));
  }
 
   




